.profile-main {
  width: 100vw;
  margin:70px;
}

.mypage-title {
  width: 50vw;
  font-size: 4vw;
  margin-bottom: 50px;
  border-bottom: 1px solid green;
}

.profile-title {
  width: 50vh;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
}

.profile-wrap {
  width: 50vw;
  text-align: center;
  margin-bottom: 20px;
}

.profile-info-title {
  font-size: 20px;
  margin-bottom: 20px;
}

.profile-info {
  padding: 10px;
  border: 1px solid black;
}