<% if current_user.id != user.id%>
    <li class="collection-item">
      <% unless current_user.following?(user) %>
        <div class="action">
          <%= link_to 'Follow', follow_user_path, method: :put, class: "follow-btn", remote: true %>
        </div>
      <% else %>
        <div class="action">
          <%= link_to 'UnFollow',unfollow_user_path,method: :put, class: "follow-btn", remote: true %>
        </div>
      <% end %>
    </li>
  <% end %>