<div class="followers-main">

  <% @user.all_following.each do |user| %>
    <div class="folowers-list">
      <%= link_to(user_path(user)) do %>
        <%= user.nickname %>
      <% end %>
    </div>
  <% end %>

</div>