<div class='footer'>
  <div class='fotter-content'>
    <h2 class="ad-footer-copy">
      Your brew method
    </h2>
    <h2 class="ad-footer-copy">
      Change all coffee lovers
    <h2 class='ad-footer-copy'>
      coffee life
    </h2>
    <div class="copy-right">
      © FOURTH WAVE
    </div>
  </div>
</div>