.idea-post {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  padding-top: 80px;
  padding-bottom: 60px;
}

.idea-new-logo {
  margin-bottom: 100px;
  border-bottom: solid 3px limegreen;
}

.idea-wrap {
  width: 50%;
  background-color: white;
  padding: 60px;
}

.new-top-content {
  display: flex;
  justify-content: space-between;
}

.new-form-title {
  margin-right: 50px;
}


.new-form-group {
  width: 50vw;
  margin-bottom: 60px;
}



.idea-field {
  width: 200px;
  border: none;
  border-bottom: solid 1px black;
}

.idea-fieldtext {
  width: 30vw;
  height: 30vh;
  border-radius:  20px 40px 20px 40px;
  border: solid 1px;
}

.category-select {
  width: 150px;
}

.format-select {
  width: 150px;
}

.new-btn {
  color:#f5f5f5;
  background-color:limegreen;
  padding: 10px;
  border: none;
  border-radius:  20px 40px 20px 40px;
  margin-bottom: 40px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .2);
}

@media (max-width: 1024px) {
  .new-top-content {
    flex-wrap: wrap;
    margin-bottom: 100px;
  }
}
