.show-main {
  width: 100vw;
  height: 100%;
  background-color: #f5f5f5;
  padding: 100px;
}

.show-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100px;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}


.back-page-btn {
  position: fixed;
  left: 50px;
  font-size: 5vh;
  font-weight: bold;
}

.show-header-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.header-user-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.show-title {

}

.content-detail {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 50px;
  margin: 0 auto;
  margin-top: 30px;
  background-color: white;
}

.show-item-img {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  object-fit: cover;
}

.idea-show-title {
  margin: 35px;
  font-size: 40px;
}

.idea-show-text {
  height: 200px;
  padding: 20px;
  text-align: left;
  border: solid 1px lightgray;
}

.idea-show-info-wrap {
  display: flex;
}

.idea-show-info {
  margin-right: 20px;
  margin-bottom: 30px;
  border-bottom: solid lightgray 1px;
}

.show-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.idea-order-btn {
  width: 150px;
  height: 50;
  color: white;
  margin: 20px;
  padding: 15px;
  background-color: limegreen;
}

.idea-edit-btn {
  width: 150px;
  height: 50px;
  padding: 15px;
  margin-bottom: 30px;
  color: white;
  background-color: green;
}

.idea-delete-btn {
  width: 150px;
  height: 50px;
  padding: 15px;
  color: white;
  background-color: red;
}

.container {
}

.comment-title {
  margin-bottom: 30px;
}

.comment-form {
  width: 100%;
  height: 30px;
  margin: 0 auto;
  padding: 2px;
}

.comment-btn {
  padding: 2px;
  border: none;
}

.comments {
  margin: 50px
}

.comment-content {
  margin: 0 auto;
}

.comment-user {
  font-weight: bold;
}

.comment {
  background-color: gray;
}

.comment-wrap {
  display: flex;
  justify-content: center;
}

.comment-delete {
  font-size: 3px;
  color: gray;
}

.idea-tip-total {
  margin-bottom: 20px;
}

.tip-total {
  color: red;
}



.show-to-root {
  margin-top: 40px;
  border-bottom: solid 2px lightgray;
}


@media (max-width: 1024px) {
  .content-detail {
    width: 100%;
  }

  .show-item-img{
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 599px) {
  .content-detail {
    width: 100%;
  }

  .show-item-img {
    width: 200px;
    height: 200px;
  }
}

